.cardContainer {
  display: flex;
  justify-content: space-between;
  // background-color: yellow;
  margin-bottom: 20px;
  padding: 20px;
  height: 300px;
  border-radius: 11px;
  background-image: url('https://thumbs.dreamstime.com/b/flat-lay-composition-decorative-makeup-products-pastel-pink-background-copy-space-143658865.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
