.App {
  background-color: #fbeff1;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 7%;
}

@media screen and (max-width: 764px) {
  .wrapper {
    margin-left: 10%;
    padding-right: 27px;
  }
}
