@import '../../globalStyles.scss';

.navbarContainer {
  // background-color: green;
  height: 13vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 85vw;
}

.categories {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.categories li {
  margin-right: 10px;
  font-weight: 700;
  color: #dea5a4;
  cursor: pointer;
  padding-bottom: 7px;
}

.categories li:last-child {
  margin-right: 0;
}

.heading {
  font-size: 32px;
  letter-spacing: 2px;
}

.navItem {
  position: relative;
}

.navItem:hover:after {
  position: absolute;
  content: '';
  border-bottom: #c66cba 2px solid;
  width: 15px;
  height: 4px;

  bottom: 0;
  left: 35%;
}
.navItem:hover {
  color: #c66cba;
}

@media screen and (max-width: 1036px) {
  .navbarContainer {
    width: 79vw;
  }
}
@media screen and (max-width: 754px) {
  .navbarContainer {
    width: 73vw;
  }
}
