@import '../../globalStyles.scss';

.navbarContainer {
  // background-color: green;
  height: 13vh;
  display: flex;
  align-items: center;
}
.categories {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.categories li {
  margin-right: 10px;
  font-weight: 700;
  color: #dea5a4;
  cursor: pointer;
  padding-bottom: 7px;
}

.categories li:last-child {
  margin-right: 0;
}

.heading {
  font-size: 32px;
  letter-spacing: 2px;
}

.navItem {
  position: relative;
}

.navItem:hover:after {
  position: absolute;
  content: '';
  border-bottom: #763d6e 2px solid;
  position: absolute;
  width: 15px;
  height: 4px;

  bottom: 0;
  left: 35%;
}
.navItem:hover {
  color: #763d6e;
}
